.card{
    margin: auto;
    width: 70%;
    margin-top: 8%;
    height: 350px;
    padding: 5% 8%;
}

input{
    width: 50%;
    color: black;
    font-family: 'Oswald', sans-serif;
}

input:focus {
    outline: none !important;
    border: #11a64f;
    box-shadow: 0 0 10px #11a64f ;
}

#Reset{
    background-color: #11a64f;
    margin-top: 2%;
}
