<app-header-edited></app-header-edited>
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Reset Password</h5>
    <p class="card-text">We can help you reset your password using
       the email address linked to your account. </p>
    <input type="email" placeholder="Enter Your Email" 
    class="form-control  form-control-sm" id="Email" 
    aria-describedby="emailHelp" #email>
    <button type="submit" class="btn btn-success" id="Reset" (click)="reset(email.value)">Reset Password</button>
  </div>
</div>
