<div class="row slide-1" id="car-body">
  <div class="col-md-6 boxleft">
    <ngb-carousel >
      <ng-template ngbSlide >
        <img src="assets/image/classic.jpg" 
      alt="Random first slide" style="width:100%; height:250px">
      </ng-template>
      <ng-template ngbSlide >
        <img src="assets/image/classic-table.jpg" 
      alt="Random first slide" style="width:100%;height:250px" >
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/image/relaxing-chair.png" 
      alt="Random first slide"style="width:100%; height:250px">
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="col-md-6 boxRight">
    <ngb-carousel >
      <ng-template ngbSlide>
        <img src="assets/image/hanging-lamps.jpg" 
    alt="Random first slide" style="width:100%; height:250px">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/image/lamp-home.jpg" 
      alt="Random first slide" style="width:100%;height:250px" >
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/image/dining-room.jpg" 
    alt="Random first slide"style="width:100%; height:250px">
      </ng-template>
    </ngb-carousel>
  </div>
  
</div>
<div class="row " id="car-body" >
    <div class="col-md-6 boxleft">
      <ngb-carousel >
        <ng-template ngbSlide>
          <img src="assets/image/office.jpg" 
        alt="Random first slide" style="width:100%; height:250px">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/image/off-table.jpg" 
        alt="Random first slide" style="width:100%;height:250px" >
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/image/chair.jpg" 
        alt="Random first slide"style="width:100%; height:250px">
        </ng-template>
      </ngb-carousel>
    </div>
  
    <div class="col-md-6 boxRight">
      <ngb-carousel >
        <ng-template ngbSlide>
          <img src="assets/image/white-sofa.jpg" 
      alt="Random first slide" style="width:100%; height:250px">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/image/sofa.jpg" 
        alt="Random first slide" style="width:100%;height:250px" >
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/image/blue-coch.jpg" 
      alt="Random first slide"style="width:100%; height:250px">
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
